.card{
    width: 220px;
    height: 135px;
    padding: 10px;
    background: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
    border-radius: 30px 5px;
    margin: 20px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
}
.into{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card>div:first-child{
    display: flex;
    justify-content:end;
    color: teal;
    font-size: 18px;
    font-weight: 500;
}
.card>div:nth-child(2){
    color: crimson;
}
@media screen and (max-width: 300px){
    .card{
        width: 200px;
        margin: 5px;
    }
}
@media screen and (max-width: 220px){
    .card{
        width: 100%;
        border-radius: 0px;
    }
}
