.list-name{
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
}
.list-name>div:first-child>div{
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    transition:0.8s;
}
.list-name>div:nth-child(2){
    align-self: center;
    margin-left: 20px;
}
.list-name>div:first-child{
    border:3px solid;
    border-color: #ffde7d #f6416c #f8f3d4 #00b8a9;
    border-radius: 50%;
}