.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.xiangshang{
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  position: fixed;
}

.xiangshang>img{
  width: 50px;
  height: 50px;
}
h1{
  text-align: center;
}
a{
  text-decoration:none;
  color:red;
}
.member{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.member>div:nth-child(1){
  color: red;
}

.member>div:nth-child(2){
  color: darkorchid;
}
ol>li:nth-child(1){
  background: #61dafb;
}
ol>li:nth-child(2){
  background: antiquewhite;
}
ol>li:nth-child(3){
  background: aliceblue;
}
ol>li:nth-child(4){
  background: aquamarine;
}
.list{
  /* width: 600px; */
  
}
.list_name{
  padding-top: 20px;
}
.Input_chazhao{
  display: flex;
  width: 100%;
  justify-content: center;
}
.Input_chazhao>input:first-child{
  height: 40px;
  text-align: center;
  width: 70%;

  /* outline: 0; */
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    background: #fff;
    color: #222;
    border-right: none;
    
}
input:focus{
  outline: none;
  border-color: #4e6ef2!important;
}

.Input_chazhao>input:nth-child(2){
  height: 46px;
  width: 20%;
  /* border-left: none; */

  background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-weight: 400;
    border: none;
}
.lun{
  width: 100%;
  height: 350px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {

.help{
  overflow-y: auto;
  width: 300px;
}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
